<template name="newpassword">
	<div class="page newpassword-page">

		<div class="newpassword-wrapper">
			<div class="newpassword-container">

				<div class="margin-top animated fadeIn">
					<h2 class="separate">Newpassword</h2>
					<form id="newpassword-form">

						<input id="newpassword-email" type="email" class="auth-input" placeholder="Email">
						<input id="newpassword-password" type="password" class="auth-input" placeholder="Password">

						<button type="submit" class="btn auth-submit">Build Your Password</button>
						
					</form>
				</div>

			</div>
		</div>

	</div>
</template>
