<template name="faq">
  <div class="background-img-wrapper">
    <div class="background-img-FAQ"></div>
  </div>
  <div class="page page-faq container">
    <div class="login-wrapper">
      <div class="FAQ-background">
        <h1 id="FAQ-header">Welcome to the Tutorial Page!</h1>
      
        <div class="Content-Table">
          <h1 id="TOC-header">Table of Contents</h1>
          <div class="Table-item">
            <a href="#video 1">What is the purpose of this website?</a>
          </div>
          <div class="Table-item">
            <a href="#video 2">What is an activity?</a>
          </div>
          <div class="Table-item">
            <a href="#video 3">What is a program?</a>
          </div>
		
		
        </div>
		<div class="Question-header">
           <a name="video 1">1) Tutorial Video For Test <!--insert video title here--></a>
        </div>
  	    <div class="Question-response">
			<!--Youtube video -> share -> embed, copy and paste the result between here. Use 640x360 size.-->
				<iframe width="640" height="360" src="https://www.youtube.com/embed/wzh0EuLhRhE" frameborder="0" allowfullscreen></iframe>
			<!--and here-->
		</div>
		<div class="Video-note">
			<p>
			<!--If more detailed description than the title provides is required in text, place it here.-->
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

			Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
			</p>
		</div>
		<div class="Question-header">
           <a name="video 2">2. Video 2 <!--insert video title here--></a>
        </div>
  	    <div class="Question-response">
			<!--Youtube video -> share -> embed, copy and paste the result between here. Use 640x360 size.-->
				<iframe width="640" height="360" src="https://www.youtube.com/embed/wzh0EuLhRhE" frameborder="0" allowfullscreen></iframe>
			<!--and here-->
		</div>
		<div class="Video-note">
			<p>
			<!--If more detailed description than the title provides is required in text, place it here.-->
			</p>
		</div>
		<div class="Question-header">
           <a name="video 3">3. Video 3 <!--insert video title here--></a>
        </div>
  	    <div class="Question-response">
			<!--Youtube video -> share -> embed, copy and paste the result between here. Use 640x360 size.-->
				<iframe width="640" height="360" src="https://www.youtube.com/embed/wzh0EuLhRhE" frameborder="0" allowfullscreen></iframe>
			<!--and here-->
		</div>
		<div class="Video-note">
			<p>
			<!--If more detailed description than the title provides is required in text, place it here.-->
			</p>
		</div>

			<!-- Add more videos in similar format here if more videos are required.-->
      </div>
    </div>
  </div>
</template>